.changeset/
node_modules/

docs/build
docs/api
docs/.cache
docs/public/build
packages/blog/dist
packages/core/dist
packages/rescribe/dist
packages/server/dist
pnpm-lock.yaml

docs/**/*.md
docs/**/*.mdx
