.changeset/
node_modules/

docs/build
docs/api
docs/.cache
docs/public/build
packages/rescribe-blog/dist
packages/rescribe-core/dist
packages/rescribe-docs/dist
packages/rescribe-server/dist
pnpm-lock.yaml

docs/**/*.md
docs/**/*.mdx
