@import '@i4o/catalystui/dist/main.css';
@import '@i4o/oh-hi-markdown/dist/main.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: 0 0% 12.5%;
	--foreground-subtle: 0 0% 39.3%;

	--brand: 155 61% 44%;
	--brand-states: 156 63.1% 39.7%;
	--brand-foreground: 0 0% 100%;
}

.dark {
	--foreground: 0 0% 93.5%;
	--foreground-subtle: 0 0% 69.5%;
}

.rs-border-subtle {
	@apply rs-border-gray-200 dark:rs-border-gray-700;
}

.rs-border-subtle-states {
	@apply hover:rs-border-gray-300 dark:hover:rs-border-gray-600;
}

.editor-wrapper > div:first-child {
	@apply rs-flex rs-w-full rs-max-w-3xl rs-items-start rs-justify-center;
}

.ProseMirror {
	@apply rs-prose dark:rs-prose-invert rs-prose-lg;
}

.ProseMirror blockquote p {
	@apply rs-my-2;
}

.ProseMirror.ProseMirror-focused {
	@apply !rs-border-none;
}

.ProseMirror,
.ProseMirror.ProseMirror-focused {
	@apply !rs-outline-none !rs-p-0;
	/*border: none transparent !important;*/
}

