@import '@i4o/catalystui/dist/main.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: 0 0% 12.5%;
	--foreground-subtle: 0 0% 39.3%;

	--brand: 155 61% 44%;
	--brand-states: 156 63.1% 39.7%;
	--brand-foreground: 0 0% 100%;
}

.dark {
	--foreground: 0 0% 93.5%;
	--foreground-subtle: 0 0% 69.5%;
}

.rs-border-subtle {
	@apply rs-border-gray-200 dark:rs-border-gray-700;
}

.rs-border-subtle-states {
	@apply hover:rs-border-gray-300 dark:hover:rs-border-gray-600;
}
